* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 0px;
    margin: 0px;
}

.header {
    background-color: #1F2937;
    display: flex;
    flex-direction: row;
    flex-basis: 100vw;
    height: 48px;
    color: #F9FAF8;
    font-size: 24px;
    justify-content: space-between;
    align-items: center;
    padding: 14px;
    padding-left: 384px;
    padding-right: 384px;
}

.links-right{
    display:flex;
    gap: 24px;
    color: #aaabad;
}

.links-left {
    font-weight: 900;
}

li {
    list-style-type:none;
}

a {
    text-decoration: none;
    color: inherit;
}

.panel-1 {
    background-color: #1F2937;
    display:flex;
    flex-basis: 640px;
    height: 640px;
    justify-content: space-between;
    align-items: center;
    padding-left: 384px;
    padding-right: 384px;
    color: #F9FAF8;
    font-size: 24px;
    gap: 16px;
    flex-shrink: 0;
    flex-wrap: wrap;
}

.hero-left {
    display: flex;
    flex-direction: column;
    flex-basis: 450px;
    gap: 14px;
}

.hero-main-text {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.hero-sub-text {
    font-size: 18px;
    color: #aaabad;
}

.hero-sign-up {
    flex-basis: 30px;
    width: 110px;
    border-radius: 6px;
    border-color: #3882F6;
    background-color: #3882F6;
    color: white;
    font-weight: bold;
}

.hero-right {
    justify-content: center;
    align-items: center;
}

.hero-main-img {
    width: 640px;
    height: 360px;
}

.panel-2 {
    display:flex;
    flex-basis: 540px;
    height: 540px;
    justify-content: flex-start;
    align-items: center;
    padding-left: 384px;
    padding-right: 384px;
    padding-top: 64px;
    font-size: 36px;
    gap: 16px;
    flex-shrink: 0;
    flex-wrap: wrap;
    color: #1F2937;
    font-weight: 900;
    flex-direction: column;
}

.information-boxes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #69696a;
    font-size: 18px;
    gap: 48px;
}

.info-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    flex-basis: 209.5px;
}

.info-box .box {
    height: 192px;
    width: 192px;
    border-radius: 24px;
    border-color: #3882f6;
    border-width: 6px;
    border-style: solid;
}

.panel-3 {
    background-color: #e5e7eb;
    display:flex;
    flex-basis: 540px;
    height: 540px;
    justify-content: center;
    align-items: center;
    padding-left: 460px;
    padding-right: 460px;
    padding-top: 64px;
    font-size: 36px;
    gap: 16px;
    flex-shrink: 0;
    flex-wrap: wrap;
    color: #1F2937;
    font-weight: 900;
    flex-direction: column;
}

.quote-box {
    display:flex;
    flex-direction: column;
}

.quote-box .quote {
    font-size: 40px;
    color: #1f2937;
    font-weight: 300;
    font-style: italic;
}

.quote-box .author {
    text-align: end;
    font-size: 28px;
}

.panel-4 {
    display:flex;
    flex-basis: 340px;
    height: 540px;
    justify-content: center;
    align-items: center;
    padding-left: 384px;
    padding-right: 384px;
    font-size: 36px;
    flex-shrink: 0;
    color: #1F2937;
    font-weight: 900;
    flex-direction: column;
}

.call-to-action {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-basis: 50px;
    height:50px;
    width: 1000px;
    background-color: #3882f6;
    padding: 64px;
    padding-left: 128px;
    padding-right: 128px;
    color: white;
    font-size: 24px;
    border-radius: 12px;
}

.call-to-action .sub-text {
   font-weight: 100;
}

.call-to-action .sign-up {
    background-color: #3882F6;
    border-color: white;
    border-radius: 12px;
    color: white;
    font-size: 24px;
    font-weight: bold;
    width: 192px;
    height: 48px;
}

.footer {
    background-color: #1F2937;
    display: flex;
    flex-direction: row;
    flex-basis: 100vw;
    height: 48px;
    color: #F9FAF8;
    font-size: 18px;
    justify-content: center;
    align-items: center;
    padding: 14px;
    padding-left: 384px;
    padding-right: 384px;
}