* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 0px;
    margin: 0px;
}

.header {
    background-color: #1F2937;
    display: flex;
    flex-direction: row;
    flex-basis: 100vw;
    height: 48px;
    color: #F9FAF8;
    font-size: 24px;
    justify-content: space-between;
    align-items: center;
    padding: 14px;
    padding-left: 384px;
    padding-right: 384px;
}

.links-right{
    display:flex;
    gap: 24px;
}

.links-left {
    font-weight: 900;
}

li {
    list-style-type:none;
}

a {
    text-decoration: none;
    color: inherit;
}

.body {
    display: flex;
    flex-direction: column;
    flex-basis: 100vw;
    height: 640px;
}

.panel-1 {
    background-color: #1F2937;
    display:flex;
    flex-basis: 100vw;
    height: 640px;
    justify-content: space-between;
    align-items: center;
    padding-left: 384px;
    padding-right: 384px;
    color: #F9FAF8;
    font-size: 24px;
    gap: 16px;
}

.hero-left {
    display: flex;
    flex-direction: column;
    flex-basis: 450px;
    gap: 14px;
}

.hero-main-text {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.hero-sub-text {
    font-size: 18px;
    color: #aaabad;
}

.hero-sign-up {
    flex-basis: 30px;
    width: 110px;
    border-radius: 6px;
    border-color: #3882F6;
    background-color: #3882F6;
}



.hero-main-img {
    width: 640px;
    height: 360px;
}